@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

#app {
  text-align: center;
}

#upload, #auth {
  margin: 0 auto;
}

#upload {
  width: 80%;
}

#galleries-container {
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
}

#gallery-thumbnail {
  display: inline-block;
  flex-basis: 40%;
  margin: 2%;
}

@media screen and (min-width: 760px) {
  #gallery-thumbnail {
    flex-basis: 15%;
  }
}

@media screen and (min-width: 560px) {
  #upload {
    width 50%;
  }
}
