@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";


ul {

}

#app {
  text-align: center;
}

#upload, #auth {
  margin: 0 auto;
  width: 80%;
}

@media screen and (min-width: 560px) {
  #upload, #auth {
    width: 50%;
  }
}
